<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ps.demo.myteststarter.repository.CartMapper">

    <resultMap id="cartWithItemsResult" type="ps.demo.mybatchupload.entity.Cart">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="total_price" property="totalPrice"/>
        <result column="created_at" property="createdAt"/>
        <collection property="items"
                    ofType="ps.demo.mybatchupload.entity.CartItem"
                    resultMap="cartItemResult"/>
    </resultMap>

    <resultMap id="cartItemResult" type="ps.demo.mybatchupload.entity.CartItem">
        <id column="item_id" property="id"/>
        <result column="cart_id" property="cartId"/>
        <result column="product_id" property="productId"/>
        <result column="quantity" property="quantity"/>
        <result column="item_total_price" property="totalPrice"/>
    </resultMap>

    <select id="getCartAndItems" resultMap="cartWithItemsResult">
        SELECT c.id, c.user_id, c.total_price, c.created_at,
        ci.id as item_id, ci.cart_id, ci.product_id, ci.quantity,
        ci.total_price as item_total_price
        FROM cart c
        LEFT JOIN cart_item ci ON c.id = ci.cart_id
        WHERE c.id = #{id}
    </select>

</mapper>